<!DOCTYPE html>
<html>
<head>
  <title>MapsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #f2f2f2;">
	<%= render 'layouts/navigation' %>

	<p class="alert"><%= alert %></p>
	<%= yield %>

</body>
</html>
